{{ define "title" }}Registry &middot; Michael &amp; Adrien{{ end }}
{{ define "content" }}
<h1>Registry</h1>

<p>We&rsquo;re old, we&rsquo;ve got too much shit, and we don&rsquo;t need a blender. Please instead consider making a donation to a charity of our choice in our name, or towards a down payment for a future home.</p>

<section>
<h2>Charities</h2>
<ul>
<li>World Central Kitchen</li>
<li>Immigrant Defense Project</li>
<li>Queen&rsquo;s Best Stumpy Dog Rescue</li>
</ul>
</section>

<section>
<h2>Cash funds</h2>
<p><em>ALL funds will go towards a down payment on a future home. We can&rsquo;t promise when that will be&mdash;because, you know, the</em> economy<em>&mdash;but we promise you can come visit!</em></p>
<ul>
<li><strong>Venmo:</strong> aewarner or michael-schoenfelder</li>
<li><strong>Paypal:</strong> adrien.warner at gmail.com</li>
<li><em>Or give us a ye olde-fashioned cheque!</em></li>
</ul>
</section>
{{ end }}
