{{ define "title" }}About us &middot; Michael &amp; Adrien{{ end }}
{{ define "content" }}
<h1>About us</h1>

<section>
<h2>History</h2>
<p>Michael and Adrien met thirteen years ago &mdash; in March of 2013 &mdash; at a level 1 improv class at the Brody Theater in Portland, Oregon. They were both immediately smitten with each other. But it wasn&rsquo;t until a year and a half&rsquo;s worth of classes, performances, and late-night hangouts later that they confessed their feelings one warm September evening. They&rsquo;ve been inseparable ever since.</p>
<figure>
<img src="/static/img/french-dukes.jpg" alt="Michael and Adrien dressed as French Dukes for Halloween 2016">
<figcaption>Michael and Adrien during their first official Halloween together in 2016, dressed as a couple of French Dukes.</figcaption>
</figure>
</section>
{{ end }}
