{{ define "title" }}FAQs &middot; Michael &amp; Adrien{{ end }}
{{ define "content" }}
<h1>FAQs</h1>

<section>
<h2>When do I need to RSVP by?</h2>
<p>We need your response no later than August 28th. Have an exception? <a href="/contact/get-in-touch">Contact us</a>.</p>
</section>

<section>
<h2>Is the wedding indoors or outdoors?</h2>
<p>The ceremony is outdoors, in the courtyard of the New Mexico Museum of Art. The reception is indoors at Meow Wolf. Late September highs in Santa Fe typically average in the 70s, while lows can get down to 50 at night. We advise dressing in layers for comfort.</p>
</section>

<section>
<h2>What&rsquo;s the dress code?</h2>
<p><strong>Dressy-fabulous:</strong> Think cocktail attire, but we encourage you to pull out that one item out of your closet you can never find the occasion to wear ;)</p>
<p><strong>Footwear:</strong> We encourage you to wear flat shoes in Meow Wolf as there are a lot of small spaces, awkward steps, and varied surfaces. You&rsquo;re more than welcome to show up in your favorite sneakers.</p>
<p><strong>Please do not wear:</strong> Crocs, Disney characters, birkenstocks, or sandals with socks. <strong>No exceptions</strong>.</p>
</section>

<section>
<h2>How do I get to and from the wedding venues?</h2>
<p>Good luck! (JK I&rsquo;ll actually write something here) The drive from downtown Santa Fe to Meow Wolf takes approximately 20 minutes depending on traffic. Meow Wolf has plenty of free parking. Please note that rideshare options at night are limited in Santa Fe and not guaranteed.</p>
</section>

<section>
<h2>What time should I arrive for the ceremony?</h2>
<p>Please arrive at the New Mexico Museum of Art no later than 5pm.</p>
</section>

<section>
<h2>What time should I arrive for the reception?</h2>
<p>Doors to Meow Wolf will open at 7pm. Please arrive on-time to welcome the bride and groom.</p>
</section>

<section>
<h2>What if I have food allergies or dietary restrictions?</h2>
<p>Our RSVP includes a section for meal selection, along with dietary restriction and allergies. For those who responded to our Save the Date, we have noted your allergies and communicated them to our caterer. <strong>NOTE:</strong> We take allergies very seriously! If cross-contamination poses an issue or your allergy is severe, please let us know!</p>
</section>

<section>
<h2>Are children allowed?</h2>
<p>Both the wedding ceremony and reception are 21+ only.</p>
</section>

<section>
<h2>Wait a minute&hellip;I thought you guys were married already?</h2>
<p>Nope! We figured after 11 years, we might as well spring for the tax break.</p>
</section>
{{ end }}
