{{ define "title" }}Travel + accommodations &middot; Michael &amp; Adrien{{ end }}
{{ define "content" }}
<h1>Travel + accommodations</h1>

<p><strong>For first-time visitors:</strong> please be aware that Santa Fe is 7,000&ndash;7,500 ft above sea level! The high altitude can cause fatigue and headache. We advise that people arrive at least one full day before the wedding so they can adjust. (And don&rsquo;t forget to stay hydrated!)</p>

<section>
<h2>Getting to Santa Fe</h2>
<p>For those traveling from out of town, there are two airports that you can fly into: <a href="https://www.abqsunport.com/" target="_blank" rel="noopener">Albuquerque International Sunport</a>, or the <a href="https://safairport.com/" target="_blank" rel="noopener">Santa Fe Regional airport</a>.</p>
</section>

<section>
<h2>Arriving in Albuquerque</h2>
<p><strong>Albuquerque Int&rsquo;l</strong> is 60 miles from Santa Fe and has the most options for flights. There are several options for getting from ABQ to SF, including car rentals, regular shuttles, and the Rail Runner.</p>
<ul>
<li><strong>Train:</strong> Please note that the Rail Runner does not connect to the airport. If you want to take the train into Santa Fe, you will need to either take the bus or a short Uber/Lyft from the airport to the Bernalillo County train station.
<ul>
<li>To find out more about the Rail Runner, visit <a href="https://riometro.org" target="_blank" rel="noopener">RioMetro.org</a>.</li>
</ul>
</li>
<li><strong>Shuttle:</strong> There is a ~$60&ndash;70 shuttle service that runs back and forth from Albuquerque Int&rsquo;l to downtown Santa Fe, which you can book <a href="https://nmshuttle.com/" target="_blank" rel="noopener">here</a>.</li>
</ul>
</section>

<section>
<h2>Arriving in Santa Fe</h2>
<p><strong>The Santa Fe Regional Airport</strong> is about 10 miles from the city center. Transportation into the city can be limited, especially at night, so we encourage you to schedule car rentals, shuttles, or pick-up in advance. While rideshare has gotten better in Santa Fe over the past few years, it is not guaranteed!</p>
<ul>
<li>You can find transportation options on the Santa Fe airport&rsquo;s website <a href="https://safairport.com/travelers/ground-transportation/" target="_blank" rel="noopener">here</a>.</li>
</ul>
</section>

<section>
<h2>Where to stay</h2>

<h3>Warner-Schoenfelder wedding hotel block</h3>
<p>We have a hotel block with a small number of rooms reserved at <a href="https://pinoncourt.com/" target="_blank" rel="noopener">Pi&ntilde;on Court</a> in downtown Santa Fe. Reservation info, including room rate and booking link, can be found <a href="https://drive.google.com/file/d/163IOYaG57guxKDaX0TZAJMbZpvuj_76y/view?usp=sharing" target="_blank" rel="noopener">here</a>. Booking with the code includes free parking and breakfast.</p>

<h3>Other accommodations</h3>
<p><strong>Hot tip</strong>: Most downtown hotels off of the Plaza are within walking distance of each other! Here&rsquo;s a list of some of our favorites, from downtown to the south side:</p>

<p>Downtown Santa Fe:</p>
<ul>
<li>$$$ <a href="https://lafondasantafe.com/" target="_blank" rel="noopener">La Fonda on the Plaza</a> (the original!)</li>
<li>$$$ <a href="http://www.innofthegovernors.com/" target="_blank" rel="noopener">Inn of the Governors</a></li>
<li>$$ <a href="https://www.hilton.com/en/hotels/sfehihf-hilton-santa-fe-historic-plaza/" target="_blank" rel="noopener">Hilton Santa Fe</a></li>
<li>$ <a href="https://www.choicehotels.com/new-mexico/santa-fe/ascend-hotels/nm268?mc=llgoxxpx" target="_blank" rel="noopener">El Sendero</a></li>
<li>$ <a href="https://guadalupeinn.com/" target="_blank" rel="noopener">Guadalupe Inn</a></li>
</ul>

<p>Railyard district:</p>
<ul>
<li>$$ <a href="https://santafemotel.com/" target="_blank" rel="noopener">Santa Fe Motel &amp; Inn</a></li>
<li>$$ <a href="http://hotelsantafe.com/" target="_blank" rel="noopener">Hotel Santa Fe</a></li>
<li>$ <a href="https://www.motel6.com/property/motel-santa-fe-new-mexico-us-294495/" target="_blank" rel="noopener">Motel 6 Santa Fe</a></li>
</ul>

<p>Southside (near Meow Wolf):</p>
<ul>
<li>$$ <a href="http://www.elreycourt.com/" target="_blank" rel="noopener">El Rey Court</a></li>
<li>$$ <a href="https://www.ladeasantafe.com/" target="_blank" rel="noopener">La Dea</a></li>
<li>$ <a href="https://www.marriott.com/en-us/hotels/saffe-fairfield-inn-and-suites-santa-fe/overview/" target="_blank" rel="noopener">Marriott Fairfield Inn and Suites</a></li>
<li>$ <a href="https://www.cottonwoodcourtmotel.top/" target="_blank" rel="noopener">Cottonwood Court</a></li>
<li>$ <a href="https://www.hotels.com/ho543844/king-s-rest-court-inn-santa-fe-united-states-of-america/" target="_blank" rel="noopener">King&rsquo;s Rest Court Inn</a></li>
<li>$ <a href="https://www.coyotesouthsf.com/" target="_blank" rel="noopener">Coyote South</a></li>
</ul>
</section>
{{ end }}
