{{ define "title" }}Things to do &middot; Michael &amp; Adrien{{ end }}
{{ define "content" }}
<h1>Things to do in Santa Fe</h1>

<section>
<h2>Activities</h2>
<ul>
<li><a href="https://santafefarmersmarket.com/" target="_blank" rel="noopener">Farmer&rsquo;s market at the Railyard</a> (every Tues &amp; Sat)</li>
<li><a href="https://santafefarmersmarket.com/railyard-artisan-market/" target="_blank" rel="noopener">Railyard Artisan Market</a> (Sat, Sun)</li>
<li><a href="https://santafewineandchile.org/" target="_blank" rel="noopener">Santa Fe Wine &amp; Chile Fiesta</a> (Sept 22&ndash;27) &mdash; the one-and-only!</li>
<li>Get a massage or rent a soaking tub at <a href="https://tenthousandwaves.com/" target="_blank" rel="noopener">Ten Thousand Waves</a></li>
<li>Visit the <a href="https://skinewmexico.com/resorts/summer/ski-santa-fe" target="_blank" rel="noopener">Ski Basin</a> or hike the surrounding <a href="https://www.fs.usda.gov/r03/santafe/recreation" target="_blank" rel="noopener">Santa Fe National Forest</a></li>
<li>Ride the <a href="https://www.skyrailway.com/train-rides/" target="_blank" rel="noopener">Sky Train</a>!</li>
<li>See a movie at the historic <a href="https://www.jeancocteaucinema.com/" target="_blank" rel="noopener">Jean Cocteau Cinema</a></li>
<li>See a show at <a href="https://lensic.org/" target="_blank" rel="noopener">The Lensic</a>, <a href="https://tickets.meowwolf.com/events/santa-fe/" target="_blank" rel="noopener">Meow Wolf</a>, or <a href="https://santafebrewing.com/" target="_blank" rel="noopener">Santa Fe Brewing</a></li>
<li>Walk the half mile of <a href="https://www.santafe.org/visiting-santa-fe/neighborhoods/canyon-road/" target="_blank" rel="noopener">Canyon Road</a>, which has the highest density of art galleries in the US</li>
</ul>
</section>

<section>
<h2>Museums</h2>
<ul>
<li><a href="https://www.nmartmuseum.org/" target="_blank" rel="noopener">New Mexico Museum of Art</a></li>
<li><a href="https://www.sitesantafe.org/" target="_blank" rel="noopener">Site Santa Fe</a></li>
<li><a href="https://www.nmartmuseum.org/vladem-contemporary/" target="_blank" rel="noopener">Vladem Contemporary</a></li>
<li>Museum Hill: <a href="https://www.indianartsandculture.org/" target="_blank" rel="noopener">Museum of Indian Arts and Culture</a> &amp; the <a href="https://www.moifa.org/" target="_blank" rel="noopener">Museum of International Folk Art</a></li>
<li><a href="https://visitsfbg.org/" target="_blank" rel="noopener">Santa Fe Botanical Garden</a></li>
<li><a href="https://www.okeeffemuseum.org/" target="_blank" rel="noopener">Georgia O&rsquo;Keefe Museum</a></li>
</ul>
</section>

<section>
<h2>Shopping</h2>
<ul>
<li>$&ndash;$$ <a href="https://doodlets.com/" target="_blank" rel="noopener">Doodlets on the Plaza</a></li>
<li>$$ <a href="http://mayasantafe.com/" target="_blank" rel="noopener">Maya Clothing</a></li>
<li>$$ <a href="http://www.santafedoubletake.com/" target="_blank" rel="noopener">Double Take</a></li>
<li>$$ <a href="https://maps.app.goo.gl/s7S8RL2UitKbiHB89" target="_blank" rel="noopener">Kakawa Chocolate House</a></li>
<li>$ <a href="https://tin-nee-ann-trading-co.myshopify.com/" target="_blank" rel="noopener">Tin-Nee-Ann Trading Co</a></li>
<li>$&ndash;$$ <a href="http://www.jackalope.com/" target="_blank" rel="noopener">Mercado at Jackalope</a></li>
</ul>
</section>

<section>
<h2>Day trips from Santa Fe</h2>
<ul>
<li><a href="https://www.nps.gov/band/index.htm" target="_blank" rel="noopener">Bandelier National Monument</a></li>
<li>The city of <a href="https://taos.org/" target="_blank" rel="noopener">Taos</a> &amp; the <a href="https://taospueblo.com/" target="_blank" rel="noopener">Taos Pueblo</a></li>
<li><a href="https://www.nps.gov/vall/index.htm" target="_blank" rel="noopener">Valles Caldera National Reserve</a></li>
<li>Visit the artisan towns of <a href="https://www.newmexico.org/places-to-visit/ghost-towns/" target="_blank" rel="noopener">Madrid and Golden</a>!</li>
</ul>
</section>

<section>
<h2>Bars &amp; Restaurants</h2>
<p>You can download our Google Map of recommendations <a href="https://maps.app.goo.gl/YKqMDJAyEdKbWZvs7" target="_blank" rel="noopener">here</a>!</p>

<h3>Bars, in no particular order</h3>
<ul>
<li>$$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Bell+Tower+at+La+Fonda+Santa+Fe" target="_blank" rel="noopener">Bell Tower at La Fonda</a></li>
<li>$$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Tonic+Santa+Fe" target="_blank" rel="noopener">Tonic</a></li>
<li>$$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Secreto+Lounge+Santa+Fe" target="_blank" rel="noopener">Secreto Lounge</a></li>
<li>$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Del+Charro+Santa+Fe" target="_blank" rel="noopener">Del Charro</a></li>
<li>$$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Coyote+Rooftop+Cantina+Santa+Fe" target="_blank" rel="noopener">Coyote Rooftop Cantina</a></li>
<li>$ <a href="https://www.google.com/maps/search/?api=1&amp;query=The+Breakroom+Santa+Fe+Brewing+Santa+Fe" target="_blank" rel="noopener">The Breakroom Santa Fe Brewing</a></li>
<li>$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Tumbleroot+Brewery+%26+Distillery+Santa+Fe" target="_blank" rel="noopener">Tumbleroot Brewery &amp; Distillery</a></li>
<li>$$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Gruet+Winery+%26+Tasting+Room+Santa+Fe" target="_blank" rel="noopener">Gruet Winery &amp; Tasting Room</a></li>
<li>$$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Susan%27s+Fine+Wine+and+Spirits+Santa+Fe" target="_blank" rel="noopener">Susan&rsquo;s Fine Wine and Spirits</a></li>
<li>$$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Milk+of+the+Poppy+Santa+Fe" target="_blank" rel="noopener">Milk of the Poppy</a></li>
<li>$$ <a href="https://www.google.com/maps/search/?api=1&amp;query=La+Reina+Santa+Fe" target="_blank" rel="noopener">La Reina</a></li>
<li>$$ <a href="https://www.google.com/maps/search/?api=1&amp;query=As+Above%2C+So+Below+Distillery+Santa+Fe" target="_blank" rel="noopener">As Above, So Below Distillery</a></li>
<li>$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Cowgirl+Santa+Fe" target="_blank" rel="noopener">Cowgirl</a></li>
</ul>

<h3>Coffee &amp; snacks</h3>
<ul>
<li>$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Betterday+Coffee+Santa+Fe" target="_blank" rel="noopener">Betterday Coffee</a> (BEST breakfast burritos in town)</li>
<li>$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Iconik+Coffee+Roasters+Santa+Fe" target="_blank" rel="noopener">Iconik Coffee Roasters</a></li>
<li>$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Counter+Culture+Santa+Fe" target="_blank" rel="noopener">Counter Culture</a></li>
<li>$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Downtown+Subscription+Santa+Fe" target="_blank" rel="noopener">Downtown Subscription</a></li>
<li>$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Java+Joe%27s+Santa+Fe" target="_blank" rel="noopener">Java Joe&rsquo;s</a></li>
<li>$$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Santa+Fe+Teahouse+%26+Bistro+Santa+Fe" target="_blank" rel="noopener">Santa Fe Teahouse &amp; Bistro</a></li>
</ul>

<h3>New Mexican cuisine</h3>
<ul>
<li>$$ <a href="https://www.google.com/maps/search/?api=1&amp;query=The+Shed+Santa+Fe" target="_blank" rel="noopener">The Shed</a></li>
<li>$$ <a href="https://www.google.com/maps/search/?api=1&amp;query=La+Choza+Santa+Fe" target="_blank" rel="noopener">La Choza</a></li>
<li>$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Tia+Sophia%27s+Santa+Fe" target="_blank" rel="noopener">Tia Sophia&rsquo;s</a></li>
<li>$ <a href="https://www.google.com/maps/search/?api=1&amp;query=The+Pantry+%26+Pantry+Rio+Santa+Fe" target="_blank" rel="noopener">The Pantry &amp; Pantry Rio</a></li>
<li>$$ <a href="https://www.google.com/maps/search/?api=1&amp;query=The+Plaza+Cafe+Santa+Fe" target="_blank" rel="noopener">The Plaza Cafe</a> (Southside is our favorite!)</li>
<li>$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Tomasita%27s+Santa+Fe" target="_blank" rel="noopener">Tomasita&rsquo;s</a></li>
<li>$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Horseman%27s+Haven+Santa+Fe" target="_blank" rel="noopener">Horseman&rsquo;s Haven</a></li>
<li>$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Atrisco%27s+Santa+Fe" target="_blank" rel="noopener">Atrisco&rsquo;s</a></li>
</ul>

<h3>Great for take-out</h3>
<ul>
<li>$ <a href="https://www.google.com/maps/search/?api=1&amp;query=El+Parasol+Santa+Fe" target="_blank" rel="noopener">El Parasol</a></li>
<li>$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Shake+Foundation+Santa+Fe" target="_blank" rel="noopener">Shake Foundation</a></li>
<li>$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Pizza+Centro+Santa+Fe" target="_blank" rel="noopener">Pizza Centro</a></li>
<li>$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Burrito+Co.+Santa+Fe" target="_blank" rel="noopener">Burrito Co.</a></li>
<li>$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Frito+Pies+%40+The+Five+%26+Dime+Santa+Fe" target="_blank" rel="noopener">Frito Pies @ The Five &amp; Dime</a></li>
<li>$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Alicia%27s+Tortilla+Santa+Fe" target="_blank" rel="noopener">Alicia&rsquo;s Tortilla</a></li>
<li>$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Posa%27s+Tamales+Santa+Fe" target="_blank" rel="noopener">Posa&rsquo;s Tamales</a></li>
<li>$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Ozu+Santa+Fe" target="_blank" rel="noopener">Ozu</a></li>
</ul>

<h3>Other restaurants we love</h3>
<ul>
<li>$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Sage+Bakehouse+Santa+Fe" target="_blank" rel="noopener">Sage Bakehouse</a></li>
<li>$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Remix+Audio+Bar+Santa+Fe" target="_blank" rel="noopener">Remix Audio Bar</a></li>
<li>$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Dumpling+Cafe+Santa+Fe" target="_blank" rel="noopener">Dumpling Cafe</a></li>
<li>$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Mille+Santa+Fe" target="_blank" rel="noopener">Mille</a></li>
<li>$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Back+Road+Pizza+Santa+Fe" target="_blank" rel="noopener">Back Road Pizza</a></li>
<li>$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Cleopatra+Cafe+Santa+Fe" target="_blank" rel="noopener">Cleopatra Cafe</a></li>
<li>$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Bang+Bite+Filling+Cafe+Santa+Fe" target="_blank" rel="noopener">Bang Bite Filling Cafe</a></li>
<li>$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Mampuku+Ramen+Santa+Fe" target="_blank" rel="noopener">Mampuku Ramen</a></li>
<li>$$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Horno+Restaurant+Santa+Fe" target="_blank" rel="noopener">Horno Restaurant</a></li>
<li>$$ <a href="https://www.google.com/maps/search/?api=1&amp;query=La+Mama+Cafe+Santa+Fe" target="_blank" rel="noopener">La Mama Cafe</a></li>
<li>$$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Escondido+Santa+Fe" target="_blank" rel="noopener">Escondido</a></li>
<li>$$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Jambo+Cafe+Santa+Fe" target="_blank" rel="noopener">Jambo Cafe</a></li>
<li>$$$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Dinner+for+Two+Santa+Fe" target="_blank" rel="noopener">Dinner for Two</a> (GREAT Happy Hour!)</li>
<li>$$$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Joseph%27s+Culinary+Pub+Santa+Fe" target="_blank" rel="noopener">Joseph&rsquo;s Culinary Pub</a></li>
<li>$$$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Andiamo+Santa+Fe" target="_blank" rel="noopener">Andiamo</a></li>
<li>$$$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Radish+%26+Rye+Santa+Fe" target="_blank" rel="noopener">Radish &amp; Rye</a></li>
<li>$$$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Izanami+Santa+Fe" target="_blank" rel="noopener">Izanami</a></li>
<li>$$$ <a href="https://www.google.com/maps/search/?api=1&amp;query=La+Boca+Santa+Fe" target="_blank" rel="noopener">La Boca</a></li>
<li>$$$$ <a href="https://www.google.com/maps/search/?api=1&amp;query=Sazon+Santa+Fe" target="_blank" rel="noopener">Sazon</a></li>
</ul>

<p><strong>P.S.</strong> The only two bars open past 12am are <a href="https://maps.app.goo.gl/KNJT9ikTKTKKErro8" target="_blank" rel="noopener">The Matador</a> and <a href="https://maps.app.goo.gl/3J4Uxqeu6QhWZ9pw7" target="_blank" rel="noopener">Evangelos</a>. They are both cash-only!</p>
</section>
{{ end }}
