{{ define "title" }}Travel + accommodations &middot; Michael &amp; Adrien{{ end }}
{{ define "content" }}
<h1>Travel + accommodations</h1>

<p><strong>For first-time travelers:</strong> please be aware that Santa Fe is 7,000&ndash;7,500 above sea level! The high altitude can cause fatigue and headache. We advise that people arrive at least one full day before the wedding so they can adjust. (And don&rsquo;t forget to stay hydrated!)</p>

<p>For those arriving from out of town, there are two airports that you can fly into: Albuquerque International Sunport, and the Santa Fe Regional airport.</p>

<ul>
<li>
<p><strong>Recommended: Albuquerque Int&rsquo;l</strong> is 60 miles from Santa Fe and has the most options for flights. There are several options for getting from ABQ to SF, including car rentals, regular shuttles, and the Rail Runner.</p>
<ul>
<li>You can find transportation options on the ABQ airport&rsquo;s website here.</li>
<li>Please note: the Rail Runner does not connect to the airport. If you want to take the train into Santa Fe, you will need to either take the bus or a short Uber/Lyft from the airport to the Bernalillo County train station.</li>
<li>To find out more about the Rail Runner, visit <a href="https://riometro.org" target="_blank" rel="noopener">RioMetro.org</a>.</li>
<li>There is also a $70 shuttle service that runs back and forth from downtown Santa Fe to the Albuquerque, which you can book here.</li>
</ul>
</li>
<li>
<p><strong>The Santa Fe Regional Airport</strong> is about 10 miles from the city center. Transportation into the city can be limited, especially at night, so we encourage you to schedule car rentals, shuttles, or pick-up in advance. While rideshare has gotten better in Santa Fe over the past few years, it is not guaranteed!</p>
<ul>
<li>You can find transportation options on the airport&rsquo;s website here.</li>
</ul>
</li>
</ul>
{{ end }}
