{{ define "title" }}Wedding itinerary &middot; Michael &amp; Adrien{{ end }}
{{ define "content" }}
<h1>Wedding itinerary</h1>

<section>
<h2>Day-of timeline</h2>
<p><strong>Ceremony:</strong> 5&ndash;6:30pm at the New Mexico Museum of Art<br>
<em>Champagne toast to follow</em></p>
<p><strong>Reception:</strong> 7pm&ndash;12am at Meow Wolf*<br>
<em>Cocktail hour with appetizers, followed by dinner and dancing</em></p>
<p>*Travel to Meow Wolf takes approximately ~20m from downtown, depending on traffic. There is ample parking at Meow Wolf.</p>
</section>

<section>
<h2>Parking</h2>
<p>Parking in downtown Santa Fe can be LIMITED, especially during evenings and weekends. We recommend arriving downtown <em>30 minutes before</em> the ceremony so you can find a space.</p>

<h3>Garage parking</h3>
<p>See the <a href="https://santafenm.gov/public-works/parking" target="_blank" rel="noopener">City of Santa Fe parking page</a> for options.</p>
<ul>
<li>Recommended garages: Sandoval Garage, Water Street Municipal Parking, Santa Fe Community Convention Center.</li>
<li>The pricing for public lots in downtown Santa Fe is comparable to metered prices.</li>
</ul>

<h3>Metered parking</h3>
<p>There is metered parking throughout the downtown area. The easiest way to pay is by downloading the <a href="https://parkmobile.io/" target="_blank" rel="noopener">Parkmobile app</a>.</p>
</section>
{{ end }}
